* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

.main {
    text-align: center;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #06c;
}

#darkmode {
    position: fixed;
    right: 4.5vh;
    top: 3vh;
}

.label {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 40px;
    height: 21px;
    background-color: #111;
    border-radius: 45px;
    transform: scale(1.5);
    position: relative;
}

.ball {
    position: absolute;
    background-color: #fff;
    border-radius: 45%;
    width: 17px;
    height: 17px;
    top: 2px;
    left: 2px;
    transition: transform 0.2s ease-out;
}

body.dark {
    background: #292C35;
    color: #fff;
}

body.dark a {
    color: #fff;
}

body.dark a:hover {
    color: #06c;
}

.checkbox:checked + .label .ball {
    transform: translateX(19px);
}

.checkbox {
    position: absolute;
    opacity: 0;
}

@media (min-width: 320px) {
    .main { font-size: 60%; }
}

@media (min-width: 768px) {
    .main { font-size: 80%; }
}

@media (min-width: 1100px) {
    .main { font-size: 80%; }
}
